* {
    box-sizing: border-box;
}

body {
    padding: 0;
    margin: 0;
    background-image: url("/assets/img/clouds.jpg");    
}

.wrapper {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0;
   
}

.title {
    text-align: center;
    background: #004881;
    margin: 0px; 
    padding: 10px;
    color: aliceblue;    
}

.buttons {
    margin: 0;
    display: flex;
}

.buttons button {
    margin: 0;
    border: 0;
    flex: 1;
    height: 50px;
    background: #004881;
    color: aliceblue;
    font-size: 16px;
    border-left: 1px solid #20679f;
    cursor: pointer;
}

.buttons button:hover {
    text-decoration: underline;
    background: rgba(0, 72, 129, 0.90);
}

.buttons button:active {
    background: rgba(0, 72, 129, 0.85);
}

table thead tr{
    border-bottom: 2px solid black;

}

