<!--The content below is only a placeholder and can be replaced.-->

    <div class="title">
        <h1>
            Welcome to <img width="30" src="/assets/img/A.png">irport!
        </h1>        
    </div>    
    <div class="buttons">
        <button [routerLink]="'flights'">Flights</button>
        <button [routerLink]="'crews'">Crews</button>
        <button [routerLink]="'pilots'">Pilots</button>
        <button [routerLink]="'stewardesses'">Stewardesses</button>
        <button [routerLink]="'planes'">Planes</button>
        <button [routerLink]="'planetypes'">Plane Types</button>
        <button [routerLink]="'tickets'">Tickets</button>
        <button [routerLink]="'takeoffs'">Take-Offs</button>
    </div>
<div class="wrapper">
    <router-outlet></router-outlet>
</div>