<div class="content">
  <h1>All Flights:</h1>
  <button routerLink="/flights/edit/0">new Flight</button>  
  <table cellspacing=0>
    <thead>
      <tr>      
        <th>#</th>
        <th>Departure</th>
        <th>Arrival</th>
        <th colspan="3">Additional functions*</th>      
      </tr>
    </thead>
    <tbody *ngFor="let fl of flights">
      <tr>
        <td>{{fl.flightNum}}</td>
        <td>{{fl.deperturePlace}}</td>
        <td>{{fl.arrivalPlace}}</td>
        <td><button routerLink="/flights/{{fl.flightNum}}">Details</button></td>
        <td><button routerLink="/flights/edit/{{fl.flightNum}}">Update</button></td>
        <td><button (click)="DeleteFlight(fl.flightNum)">Delete</button></td>
      </tr>
    </tbody>
  </table>
  <h6>*Press Details to get more info</h6>
      <h6>*Press Update to edit entity</h6>
      <h6>*Press Delete to remove entity (be careful, deleting entity can cause cascade deleting of other entities)</h6> 
</div>
