th{
    border-bottom: 2px solid black;
}

table {
    margin: 20px 0;
}

button{
    cursor: pointer;
    background-color: #004881;
    color: aliceblue;
    border: 0;
    padding: 10px 20px;
    border-radius: 10px;
}

th,
td {
    font-size: 20px;
    padding: 5px 20px;
    text-align: center;
}

td {
    border-bottom: 1px solid skyblue;
}