<h1>Edit</h1>
<button routerLink="/planetypes">Back</button>
<form [formGroup]="planeTypeForm">
    <div>
        <label for="Departure_place">Model</label>
        <label for="Departure_time">Places</label>
        <label for="Arrival_place">Carry Capacity</label>
    </div>
    <div>
        <input id="Departure_place" type="text" formControlName="model" required>
        <input id="Departure_place" type="number" formControlName="places" required>
        <input id="Arrival_place" type="number" formControlName="carryCapacity" required>
    </div>  
</form>
<button *ngIf="create" (click)="onCreate()" type="submit" [disabled]="!planeTypeForm.valid">Create</button>
<button *ngIf="!create" (click)="onUpdate()" type="submit" [disabled]="!planeTypeForm.valid">Update</button>


